<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>19D3155B-D020-4D97-838C-3A1F396DCFCA</key>
		<array>
			<string>D463E003-EE02-40FF-8A0E-670072A0E339</string>
		</array>
	</dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 1039}}</string>
		<string>{{176, 0}, {1567, 1039}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>045B4C5B-6EEC-4B15-98F2-7C020B649366</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0528E23F-7EBC-4562-93D6-9482344A558B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>33F2BBAC-12AC-41BD-A52C-FD8311B0A296</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3D456DA5-9B65-4F4F-A99B-8563BD7EC63D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49B75F4A-E7BC-4CC9-8730-5CB04B0B11BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6E054118-7901-4B35-ACBE-7C44F7C79172</key>
		<dict>
			<key>DocID</key>
			<string>7EC366EA-743D-4530-BA92-562430A4CA3D</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>73328F86-EFC1-4F5E-8E3E-251BE80BFF54</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73675B39-C149-42E7-9672-49E061528858</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C49AA62-3E79-49CD-856F-E142AF760455</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7EC366EA-743D-4530-BA92-562430A4CA3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B664B38A-396D-450D-9808-EAB0ECF5A6AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCFE1CE3-46E5-43B3-9F48-AF49F94E8D77</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB001EC0-49D2-4C43-928A-A9C17803C356</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D12D9DC1-DFD5-4B07-98E3-0433B6D647C2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D31EA933-8330-4E3A-B033-D0A37A73E151</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D463E003-EE02-40FF-8A0E-670072A0E339</key>
		<dict>
			<key>DocID</key>
			<string>0528E23F-7EBC-4562-93D6-9482344A558B</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>D9A8740E-486B-4390-999B-40498BD429DC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECFC0A11-8945-406E-B7F0-8C2A9669D361</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0FC6C08-70EF-48A4-ACAB-D567703188AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FCC959E0-F3AE-4243-B6A5-C2D046A10DE8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>4</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {488, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {350, 1029}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 2199}, {620, 953}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>49 36 1743 1061 0 0 1792 1097 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
